<div class="sidebar-module">
  <h4>• About</h4>
  <img title="{{site.author}}" src="{{site.aboutme_photo}}" alt="{{site.author}}"/>
  <!--<span>{{site.aboutme}}</span>-->
  <p>Java/.NET hacker who loves building SOA and real-time systems, DevOps geek, & functional-programming hipster.</p>
  <p>Helps large teams be nimble and agile, helps small teams punch above their weight class.</p>
  <p>Likes football, modernist literature, microbrews, and microcontrollers. Plays bass & draws (poorly). STEMinist.</p>
  
  
  <br />

  <div align="center">
  <a href="https://twitter.com/val_to_string" title="TwitterID: {{site.twitter_username}}">Twitter</a>
  &nbsp&nbsp•&nbsp&nbsp
  <a href="https://github.com/valakkapeddi" title="GithubID: {{site.github_username}}">Github</a>
  </div>  

</div>
